pandas 
requests
python-dotenv
openpyxl
feedparser
beautifulsoup4
yfinance
langchain 
langchain-community 
langchain-text-splitters 
chromadb 
sentence-transformers 
pypdf 
python-docx
cryptography
langchain-chroma 
langchain-huggingface